@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@source '../../docs/**/*.md';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.md-prose {
  /*****************************************************************************/
  /* tables */

  & table {
    text-indent: 0;
    border-spacing: 0;
    @apply my-10 block w-full max-w-full table-fixed border-collapse overflow-auto border-[color:inherit] text-left;
  }

  & table th {
    @apply sticky top-0 bg-transparent font-semibold text-slate-700 dark:text-slate-300;
    @apply border-0 border-b border-slate-200 p-0 pr-4 pb-1 md:pr-6 dark:border-slate-800;
  }

  & table tbody {
    @apply align-baseline;
  }

  & table td {
    @apply border-0 border-b border-slate-100 p-0 py-2 pr-4 whitespace-nowrap text-black md:pr-6 dark:text-white;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    &:hover a,
    & a:hover {
      @apply no-underline;
    }

    & .icon-link {
      @apply text-primary-foreground flex h-full items-center align-middle;
    }

    & a .icon-link::before {
      @apply invisible inline-block h-4 w-4;
      content: ' ';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }

    & a:hover .icon-link,
    & a .icon-link:hover,
    &:hover a .icon-link,
    & a:hover .icon-link::before,
    & a .icon-link:hover::before,
    &:hover a .icon-link::before {
      @apply visible opacity-100;
    }
  }

  /*****************************************************************************/
  /* blocks */

  & docs-info,
  & docs-success,
  & docs-warning,
  & docs-error {
    @apply relative mt-0 mb-3 block rounded-lg border-r-2 border-l-2 border-current px-4 py-2;
  }

  & docs-info::before,
  & docs-success::before,
  & docs-warning::before,
  & docs-error::before {
    @apply pointer-events-none absolute inset-0 opacity-10 content-[""];
  }

  & docs-info > :last-child,
  & docs-success > :last-child,
  & docs-warning > :last-child,
  & docs-error > :last-child {
    @apply mb-0;
  }

  & docs-warning {
    @apply text-yellow-800 dark:text-yellow-100;
  }

  & docs-warning::before {
    @apply bg-yellow-400 opacity-[0.15];
  }

  & docs-info {
    @apply text-blue-600 dark:text-blue-300;
  }

  & docs-info::before {
    @apply bg-blue-600;
  }

  & docs-error {
    @apply text-red-700 dark:text-red-300;
  }

  & docs-error::before {
    @apply bg-red-700 dark:bg-red-300;
  }

  & docs-success {
    @apply text-green-600 dark:text-green-300;
  }

  & docs-success::before {
    @apply bg-green-600;
  }

  & docs-info a,
  & docs-success a,
  & docs-warning a,
  & docs-error a {
    text-decoration: underline;
  }

  & docs-cards {
    @apply flex grid-cols-2 flex-col gap-6 md:grid;

    & > a {
      @apply relative block dark:text-inherit;
      color: unset;
      text-decoration: none;
    }
  }

  & docs-card {
    @apply block h-full w-full rounded-lg border-[3px] border-gray-50 p-4 hover:border-gray-100 sm:p-6 dark:border-gray-700 hover:dark:border-gray-600;

    & > :first-child {
      @apply mt-0;
    }

    & > :last-child {
      @apply mb-0;
    }
  }
}
